[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "forestError"]
	path = forestError
	url = https://github.com/benjilu/foresterror
	shallow = true
	registered = true
